.navLink {
   color: #1f1f1f;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navLink:hover {
   color: #628e34; 
  text-decoration: none;
}

.active {
  color: #628e34;    
  font-weight: 600;
}

.socialIcon {
  transition: transform 0.2s ease-in-out;
}

.socialIcon:hover {
  transform: scale(1.1); 
}

.nameLink {
  color: #1f1f1f; 
  font-weight: 600;
  font-size: 1.5rem; /* xl */
  text-decoration: none !important;
  transition: color 0.2s ease-in-out;
}